---
import TheForm from "@/components/TheForm.astro";
import { Section, H2, Image, Icon } from "ui";
---

<!-- Application -->
<Section name="application">
  <div class="application__content">
    <TheForm />

    <div class="group">
      <div class="text-sm">Или напишите нам в мессенджеры</div>
      <div class="group-list">
        <a href="#" target="_blank" title="Telegram">
          <div class="icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M17.5525 8.09309C17.6 7.792 17.5664 7.4837 17.4551 7.19992C17.3439 6.91614 17.159 6.66713 16.9196 6.47854C16.6801 6.28994 16.3947 6.16857 16.0928 6.12692C15.7908 6.08528 15.4832 6.12486 15.2017 6.24159L5.2815 10.3424C4.02383 10.8628 4.20817 12.6991 5.54517 12.9581L7.40133 13.3174C7.91583 13.4166 8.45017 13.3233 8.89933 13.0538L9.44067 12.7306C9.2864 13.0365 9.25172 13.3889 9.34341 13.719C9.4351 14.0491 9.64657 14.3331 9.9365 14.5156L14.1948 17.1849C14.3873 17.3057 14.6068 17.3767 14.8335 17.3917C15.0602 17.4066 15.2871 17.3651 15.4938 17.2707C15.7005 17.1763 15.8805 17.0321 16.0176 16.8509C16.1548 16.6698 16.2448 16.4574 16.2797 16.2329L17.5525 8.09309ZM10.6645 13.3548L14.1995 9.96559C14.8295 9.36242 14.0665 8.36375 13.3187 8.81059L8.19467 11.8778C8.0348 11.9731 7.84545 12.0063 7.66267 11.9711L5.8065 11.6118L15.7255 7.51092C15.7818 7.48761 15.8432 7.4797 15.9036 7.48801C15.9639 7.49632 16.021 7.52055 16.0688 7.55821C16.1167 7.59587 16.1537 7.6456 16.176 7.70229C16.1983 7.75897 16.2051 7.82057 16.1957 7.88075L14.924 16.0229L10.6645 13.3548Z"
                fill="white"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.6667 0C5.22317 0 0 5.22317 0 11.6667C0 18.1102 5.22317 23.3333 11.6667 23.3333C18.1102 23.3333 23.3333 18.1102 23.3333 11.6667C23.3333 5.22317 18.1102 0 11.6667 0ZM1.372 11.6667C1.372 8.93635 2.45661 6.31786 4.38724 4.38724C6.31786 2.45661 8.93635 1.372 11.6667 1.372C14.397 1.372 17.0155 2.45661 18.9461 4.38724C20.8767 6.31786 21.9613 8.93635 21.9613 11.6667C21.9613 14.397 20.8767 17.0155 18.9461 18.9461C17.0155 20.8767 14.397 21.9613 11.6667 21.9613C8.93635 21.9613 6.31786 20.8767 4.38724 18.9461C2.45661 17.0155 1.372 14.397 1.372 11.6667Z"
                fill="white"></path>
            </svg>
          </div>
          <span>Telegram</span>
        </a>
        <a href="#" target="_blank" title="WhatsApp">
          <div class="icon">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.1663 3.39506C19.0966 2.31485 17.8225 1.45836 16.4184 0.875486C15.0143 0.292614 13.5083 -0.0049737 11.988 6.28777e-05C5.61801 6.28777e-05 0.426341 5.19173 0.426341 11.5617C0.426341 13.6034 0.963008 15.5867 1.96634 17.3367L0.333008 23.3334L6.45801 21.7234C8.14967 22.6451 10.0513 23.1351 11.988 23.1351C18.358 23.1351 23.5497 17.9434 23.5497 11.5734C23.5497 8.48173 22.348 5.57673 20.1663 3.39506ZM11.988 21.1751C10.2613 21.1751 8.56967 20.7084 7.08801 19.8334L6.73801 19.6234L3.09801 20.5801L4.06634 17.0334L3.83301 16.6717C2.87348 15.14 2.36409 13.3692 2.36301 11.5617C2.36301 6.26506 6.67967 1.9484 11.9763 1.9484C14.543 1.9484 16.958 2.95173 18.7663 4.77173C19.6619 5.6629 20.3716 6.72303 20.8542 7.89061C21.3369 9.0582 21.5829 10.31 21.578 11.5734C21.6013 16.8701 17.2847 21.1751 11.988 21.1751ZM17.2613 13.9884C16.9697 13.8484 15.5463 13.1484 15.2897 13.0434C15.0213 12.9501 14.8347 12.9034 14.6363 13.1834C14.438 13.4751 13.8897 14.1284 13.7263 14.3151C13.563 14.5134 13.388 14.5367 13.0963 14.3851C12.8047 14.2451 11.8713 13.9301 10.7747 12.9501C9.91134 12.1801 9.33967 11.2351 9.16467 10.9434C9.00134 10.6517 9.14134 10.5001 9.29301 10.3484C9.42134 10.2201 9.58467 10.0101 9.72467 9.84673C9.86467 9.6834 9.92301 9.55506 10.0163 9.3684C10.1097 9.17006 10.063 9.00673 9.99301 8.86673C9.92301 8.72673 9.33967 7.3034 9.10634 6.72006C8.87301 6.16006 8.62801 6.23006 8.45301 6.2184H7.89301C7.69467 6.2184 7.39134 6.2884 7.12301 6.58006C6.86634 6.87173 6.11967 7.57173 6.11967 8.99506C6.11967 10.4184 7.15801 11.7951 7.29801 11.9817C7.43801 12.1801 9.33967 15.0967 12.233 16.3451C12.9213 16.6484 13.458 16.8234 13.878 16.9517C14.5663 17.1734 15.1963 17.1384 15.698 17.0684C16.258 16.9867 17.413 16.3684 17.6463 15.6917C17.8913 15.0151 17.8913 14.4434 17.8097 14.3151C17.728 14.1867 17.553 14.1284 17.2613 13.9884Z"
                fill="white"></path>
            </svg>
          </div>
          <span>WhatsApp</span>
        </a>
      </div>
    </div>
  </div>

  <div class="application__img">
    <Image src="form.png" />
  </div>
</Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .application {
    position: relative;

    @include media("sm") {
      background: var(--primary);
    }

    &__content {
      position: relative;
      padding: rem(50) 0 rem(50) rem(150);
      width: 100%;
      max-width: calc(100% - 150px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(70);

      @include media("lg") {
        padding-left: 0;
        max-width: 100%;
      }
      @include media("sm") {
        padding: 0;
        gap: rem(40);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        height: 100%;
        background-color: var(--primary);
        pointer-events: none;
        z-index: -1;

        @include media("sm") {
          display: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        border-radius: 0 rem(50) rem(50) 0;
      }

      &::after {
        left: 0;
        transform: translateX(calc(-100% + rem(120)));
        width: 50vw;
        background-image: url("/assets/img/bg-pattern.svg");
        background-position: right;
        background-repeat: repeat;
        background-size: contain;

        @include media("lg") {
          transform: translateX(calc(-100% - rem(20)));
        }
      }

      & > .group {
        color: #fff;
        gap: rem(24);

        @include media("xs") {
          gap: rem(16);
        }

        .group-list {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(20);
        }

        a {
          font-size: rem(14);
          font-weight: 300;
          text-decoration: underline;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(10);
        }
      }
    }

    .text-h2 {
      color: #fff;
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: rem(1220);
      transform: translate(calc(-50% + rem(420)), -60%);
      pointer-events: none;

      @include media("xl") {
        max-width: rem(920);
      }
      @include media("md") {
        top: 60%;
        left: 30%;
      }
      @include media("sm") {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
</style>
