---
import { Section, H2, Image, Icon } from "ui";
---

<!-- Train -->
<Section name="train pt-0"> .train </Section>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .train {
    position: relative;
  }
</style>
