---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import {
  Focus,
  About as TheAbout,
  Branches,
  Video,
  Cars,
  Advantages,
} from "@/components/Home";
---

<App title="О нас">
  <main>
    <Focus />
    <TheAbout />
    <Video />
    <Cars />
    <Advantages />
    <Branches />
  </main>
</App>
