---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import { Form, Branches, Discounts as TheDiscounts } from "blocks";
---

<App title="Акции">
  <main>
    <TheDiscounts />
    <Form />
    <Branches />
  </main>
</App>
