---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import { Form, Branches } from "@/components/Home";
---

<App title="Акции">
  <main>
    <!-- Discounts -->
    <Section name="discounts">
      <H2>НАШИ АКЦИИ</H2>
      <div class="discounts__list">
        {
          Array.from({ length: 5 }).map((_, index) => (
            <div class="discounts__item">
              <div class="bg-img">
                <Image src="discount.png" />
              </div>

              <div class="discounts__item-date">до 31.12.2024</div>

              <div class="group">
                <H2>АКЦИЯ</H2>
                <p class="text-p">
                  Описание акции на пару предложений. При клике на акцию <br />
                  всплывающее окно с заявкой
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </Section>
    <Form />
    <Branches />
  </main>
</App>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .discounts {
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(36);

      @include media("lg") {
        gap: rem(30);
      }
    }

    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(36) rem(20);

      @include media("lg") {
        gap: rem(20);
      }
      @include media("md") {
        grid-template-columns: 1fr;
      }
      @include media("xs") {
        gap: rem(15);
      }
    }

    &__item {
      position: relative;
      padding: rem(20) rem(35);
      min-height: rem(310);
      color: #fff;
      border-radius: rem(20);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(20);

      .bg-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #1ba8c5 0%, #43b6cd 100%);
        opacity: 0.8;
      }

      @include media(rem(769), min-width) {
        &:nth-child(1) {
          grid-column-start: span 2;
        }

        &:nth-child(2),
        &:nth-child(5) {
          .bg-img::before {
            background: linear-gradient(180deg, #ef623f 0%, #fd643f 100%);
          }
        }
      }
      @include media("md") {
        padding: rem(20);
        min-height: rem(220);

        &:nth-child(even) {
          .bg-img::before {
            background: linear-gradient(180deg, #ef623f 0%, #fd643f 100%);
          }
        }

        .text-p br {
          display: none;
        }
      }

      &-date {
        margin-left: auto;
        font-weight: 300;
      }

      .text-h2 {
        color: #fff;
      }

      .group {
        margin-top: auto;
        gap: rem(12);
      }
    }
  }
</style>
