---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import { Hero } from "@/components/Home";
---

<App title="Главная">
  <main>
    <!-- Hero -->
    <Hero />
  </main>
</App>
