---
import App from "@/App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
import { Reviews as TheReviews, Rating, Branches } from "@/components/Home";
---

<App title="Отзывы">
  <main>
    <TheReviews />
    <Rating />
    <Branches />
  </main>
</App>
